<div class="container">
  <nav class="navbar">
    <a href="#" class="logo">
      <img src="../../assets/img/logo.png" width="30px" height="30px"> Cafe Management System
    </a>
    <ul class="nav-btns">
      <li>
        <a (click)="handleSignupAction()">Sign Up</a>
      </li>
      <li>
        <a (click)="handleLoginAction()">Login</a>
      </li>
      <li>
        <a (click)="handleForgotPasswordAction()">Forgot Password</a>
      </li>
    </ul>
  </nav>
  <div class="bg-image"></div>
  <div class="footer">
    <h4>©<a href="https://github.com/aanxniee/cafe-management"> aanxniee</a></h4>
  </div>
</div>