* {
  background-color: #a1887f;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
}

.container {
  height: 100%;
}

.navbar {
  display: flex;
  background-color: #a1887f;
  padding: 2.5%;
}

li {
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
}

li:hover {
  transform: scale(1.08);
}

.logo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all .3s ease-in-out;
}

.logo:hover {
  transform: scale(1.04);
}

.nav-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 5px;
  text-align: center;
  color: white;
  background: #a1887f;
}

nav {
  display: flex;
  width: 100%;
}

ul li a {
  padding: 1em;
}

a.logo {
  margin-right: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 1.25em;
  cursor: pointer;
}

.bg-image {
  background-image: url("../../assets/img/cover.svg");
  height:80%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

@media (max-width: 1024px) {
  .wrapper {
    height: auto;
  }
  
  nav {
    flex-direction: column;
    align-items: center;
  }
  
  a.logo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0px;
  }
  
  ul {
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
  }
  
  ul li a {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  a.logo {
    margin: 1.5em;
  }
  
  ul {
    flex-direction: column;
  }
  
  ul li {
    margin: 0.3em;
    text-align: center;
  }
  
  ul li a {
    margin-left: 0px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {   
    flex-direction: column;
  }

  .nav-btns {
    padding: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
  }

  a.logo {
    font-size: 1.7em;
  }

  a {
    font-size: 1.4em;
  }

  .bg-image {
    height:60%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
  }
}

@media screen and (max-width: 700px) {
  .navbar {   
    flex-direction: column;
  }

  .nav-btns {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
  }

  a.logo {
    font-size: 1.25em;
  }

  a {
    font-size: 1em;
  }

  .bg-image {
    height:65%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
  }
}
