$bodyfont: 'Poppins', sans-serif;
$headingfont: 'Poppins', sans-serif;

@import '~@angular/material/theming';

$primary: mat-palette($mat-brown, 300);
$accent: mat-palette($mat-brown, 600);
$warn: mat-palette($mat-red, 300);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif'
);

// override the typography in the core CSS.
@include mat-core($custom-typography);

// default Theme
@include angular-material-theme($theme);

$sidebar: #fff;
$sidebar-white: #fff;
$sidebar-alt: #fff;
$bodycolor: #fff;
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-text: #a1887f;
$font-16: 16px;
$light-text: #fff;
$themecolor: #a1887f;
$themecolor-alt: #a1887f;
$themecolor-dark: #6d4c41;
$inverse: #fff;
$white: #fff;
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border: #fff;
$card-brd: #fff;
$dark-text: #848a96;
$radius: 4px;
$form-brd: #fff;
